 body {
        background-image: url(../images/pomotimeBackground.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    h1{
        color: white;
    }
    .controls{
        background: none;
        border: 0cap;
        cursor: pointer;
        width: fit-content;
        width: 6vh;
    }

    .checkbox_div{
       flex: flex;
       justify-content: start;
       align-items: center;
       padding: 2vh;
       margin-left: 1vh;
       color: white;
    }

    #checkbox{
        flex: flex;
        margin-left: 1vh;
        font-weight: 400;
        font-size: 2vh;
    }